img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p { 
  color:darkorchid;
  text-align: center;
   font-size: large;

} 

h3 {
  color:green;
   text-decoration-line: none;
  font-size: larger;
   text-align: center;
}


h2  {
  color:darkorchid;
   text-decoration-line: underline;
   text-align: center;

} 


h1 {
   color:darkorchid;
   text-decoration-line: underline;
   text-align: center;

}
form {
    background-color:darkorchid;
    color:whitesmoke;
    font-family:Regular;
    font-size: small;
}
  

@font-face {
    font-family:'Regular';
    src: url(Regular.ttf)
}

div {
    text-align: center;
}
.centre {
  justify-content: center;
  align-items: center;
  height: 30px;
  border: green;
  color:blueviolet;
}